body {
	margin: auto;
	width: 800px;
}


.texto {
	margin-top: 200px;
	height: 200px;
	background-color: white;
	text-align: center;
	line-height: 70px;
	
	border: 5px solid blue;
	border-top-right-radius: 20px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 20px;

	animation-name: texto;
	animation-duration: 4s;
	animation-delay: 2s;

	box-shadow: 20px 20px 5px #808080;
}
.texto2 {
	margin-top: 20px;
	height: 200px;
	background-color: white;
	border: 5px solid blue;
	border-top-right-radius: 5px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 5px;

	box-shadow: -20px 0 5px #808080;

	transition: all 1s linear;
}
.texto2:hover {
	background-color: gray;
}

@keyframes texto {
	0% {background: linear-gradient(-45deg, white, gray);}
	25% {background: linear-gradient(45deg, white, gray)}
	50% {background: linear-gradient(135deg,white, gray);}
	75% {background: linear-gradient(-135deg,white, gray);}
	100% {background: linear-gradient(-45deg,white, gray);}
}